body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal{
    position: fixed;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

/* .admin {
    list-style-type: none;
    padding: 20px;
    align-items: center;
}
.customers {
    list-style-type: none;
    padding: 20px;
    align-items: center;
}
.deliveries {
    list-style-type: none;
    padding: 20px;
    align-items: center;
}
.suppliers {
    list-style-type: none;
    padding: 20px;
    align-items: center;
} */

.header {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(4, 4, 4);
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    z-index: 100;
    list-style: none;
  }

.header_optionLineOne {
    font-size: 15px;
  }
  
  .header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255) !important;
  }

  .tablestyle{
    background-color: rgb(113, 107, 107);
   color: aqua;
    
  }

  .cellcolor{
    font-weight: 900;
    color: white;
  }

.fullcard{
  background-color: #5e5e58;
  margin-top: 20px;
}

  .card{
    /* width: 900px;
    height: 100vh; */
    margin-top: 10px;
    /* padding: 50px; */
    /* max-width: 100%; */
    padding: 20px;
    margin-bottom: 200px;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: center;
    box-sizing: border-box;

    border-radius: 5px;
  }

  .insidecard {


width: 320px;
height: 400px;
background-color: bisque;
font-family: Arial, Helvetica, sans-serif;


  }

  .viewpage {
    width: 900px;
  }

  .cartpage{
 
  width: 300px;
height: 400px;
padding-top: 100px;
padding-left: 450px;
  }

  .style-inside-detailspage {
    font-weight: 700;
  }

  .productview{
    width: 400px;
    height: 400px;
    align-items: center;
  }

  .cartbutton{
    background-color: rgb(80, 80, 153);
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    border-radius: 5px;
    font-weight: 780;
    width: 40%;
    height: 40px;
    align-items: center;
  }

  .viewdetailspage{
    margin-left: 100px;

  }

 
.cardcustomerandsupplier{
  
  
  background-color: #5e5e58;
}

.productview2{
  
  height: 350px; 
  margin-top: 10px;
  padding: 20px;
  width: 350px;
  /* margin-bottom: 200px; */
  flex-direction: column;
display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
}

.image {
  height: 100px;
}

.insidecard2 {


  width: 320px;
  height: 350px;
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  
  
    }