.dropdown{
    height: 1rem;
    
}

/* .dropdown-menu{
    width: 15rem;
    text-align: center;
    color: black;
    background-color:rgb(208, 108, 108);
    position: relative;
    cursor: pointer;
    padding: 1rem;
    
}

.dropdown-menu:hover{
color: white;
background: lightgray;
}

.dropdown-list{
    list-style-type: none;
} */
